$form-border-width:1px !default;
$form-border-bottom-width: 2px !default;
$form-border-color: var(--color-bg)!default;
$form-padding-left:10px !default;
$form-padding-top:5px !default;
$input-height:3rem!default;
$form-margin:0.5rem !default;
$form-border-style:solid!default;
$form-row-height:3rem !default;
$form-row-compact:1.1 !default;
$form-fontsize:16px !default;
$form-label-font:var(--fs-label) !default;
$form-label-weight:normal !default;
$form-label-transform:inherit !default;
$form-animation:0.3s ease all;
$form-input-color:var(--color-bg-text) !default;
$form-border-warningcolor:var(--color-warning) !default;
$form-border-activecolor:var(--color-bg-dark) !default;
$form-border-successcolor:var(--color-success) !default;
$form-border-defaultcolor:var(--color-bg)!default;
$form-down-icon:"\f103" !default;
$form-up-icon:"\f10d" !default;
$form-check-icon:"\f102" !default;
$formr-bg:var(--color-bg-light)!default;
$formr-ico-width:60px !default;
$formr-ico-fontsize:1.5rem !default;
$form-border-radius:3px!default;

//form row
.f__r{
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
	box-sizing: border-box;
	//default input label
	label{
		margin-bottom:rfs(0.5rem);
		font-size:$form-fontsize;
		display:block;
	}
}
// for possible wraps
.f__r--wrap{
	position: relative;
}
// default form row input
.f__r input, .f__r textarea{
	padding-left:$form-padding-left;
	order:2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background:inherit;
	background: $formr-bg;
	border-bottom:$form-border-bottom-width;
	border-color:$form-border-color;
	border-left-width:$form-border-width;
	border-radius: $form-border-radius;
	border-right-width:$form-border-width;
	border-style: $form-border-style;
	border-top-width:$form-border-width;
	color:$form-input-color;
	font-family:fontVar('fs-input');
	font-size: $form-fontsize;
	min-height:$element-min-height;
	height:calc(#{$input-height}* var(--space-factor));
	line-height: 1;
	outline: none;
	pointer-events: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-align: left;
	-webkit-touch-callout: none;
	transition: 0.3s ease all;
	flex-basis:1;
	box-sizing: border-box;
	//status
	&:focus{
		border-bottom-color:$form-border-activecolor;
	}
	&:invalid {
		border-bottom-color:$form-border-warningcolor;
		outline: 0;
	}
	&:valid {
		border-bottom-color:$form-border-successcolor;
		outline: 0;
	}
}


//compact form
.form--compact{
	input{
		height:$form-row-height * $form-row-compact;
		padding-top:$form-row-height/3;
	}
	textarea{
		height:$form-row-height * 2.5;
		padding-top:$form-row-height/2;
	}
	// CENTERED LABEL
	label{
		position: absolute;
		transition: $form-animation;
		@include noselect();
		padding-left:$form-padding-left;
		margin-bottom:0px;
		pointer-events: none;
		top: calc(50% - (#{$form-fontsize}/2));
		font-size:$form-fontsize;
	}
	.f__r[data-has-value="true"],.f__r.has-focus{
		.f__r--label{
			top:$form-padding-top;
			font-size:$form-fontsize*0.75;
		}
	}
}

//inline form only for > medium
@include min-medium(){
	.form--inline{
		.f__r{
			flex-direction: row;
			justify-content: center;
			align-items: center;
			input, textarea{
				flex-basis:75%;
			}
			input + label, textarea + label{
				flex-basis:25%;
				margin-bottom:0px;
			}
			//make buttons form row height
			.btn{
				order:2;
				height:$form-row-height;
			}
		}
	}
}