@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Book.woff2') format('woff2'),
        url('MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Everett';
    src: url('Everett-Medium.woff2') format('woff2'),
        url('Everett-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Everett';
    src: url('Everett-Regular.woff2') format('woff2'),
        url('Everett-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Everett';
    src: url('Everett-Light.woff2') format('woff2'),
        url('Everett-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

