$modal-bg: var(--color-bg-alpha)!default;
$modal-panel-bg : var(--color-default)!default;
$modal-box-shadow: 1!default;
$modal-padding:rfs(0rem)!default;
$modal-radius:1rem!default;

.modal{
    align-items:flex-start;
    background:$modal-bg;
    bottom:0px;
    display: none;
    justify-content: center;
    left:0px;
    left: 0;
    overflow:hidden;
	overflow-y: scroll;
    position: absolute;
    position: fixed;
    right:0px;
    right: 0;
    top:0px;
    top: 0;
    z-index: 1001;
    .wrap{
        width:100%;
        
    }
}
.modal.active{
    display:block;
    align-items: center;
    justify-content: center;
}
.modal--panel{
    display:flex;
    align-items: center;
    position: relative;
    border-radius:$modal-radius;
    padding:$modal-padding;
    margin:0 auto;
    width:90%;
    max-height:90%;
    background-color: $modal-panel-bg;
    max-height:100vh;
    min-height:90vh;
    .row{
        max-height:100vh;
        min-height:90vh;
    }
}
.modal--close{
    position:absolute;
    top:0rem;
    right:0rem;
    z-index:1;
}
@include min-large(){
    .modal--panel{
        border-radius:$modal-radius;
        padding:$modal-padding;
        margin:0 auto;
        width:$medium-width;
        background-color: $modal-panel-bg;
    }
}