
// v2.0
$small-width:480px!default;
$medium-width: 768px!default;
$large-width: 1020px!default;
$wide-width: 1440px!default;
$ultra-width:1680px!default;

$gutter-default: 2rem!default;
$col-padding:1rem!default;
$border-width:1px!default;
//VIRAL COMPONENT VARIABLES
$nav-aside-width:200px!default;
//XS AND XL FACTORS
$factor-xl:1.2!default;
$factor-xs:0.8!default;
// MINIMUM BUTTON, FORM SIZE
$element-min-height:30px!default;
