// NEXT BUTTON
.bp--nxt,
.bp--prv {
  position: relative;
  display: inline-block;
  padding-bottom: rfs(0.5rem);
  padding-top: rfs(0.5rem);
  align-self: flex-start;
  text-decoration: none !important;
  font-size: var(--fs-btn);
  cursor: pointer;
  font-family: var(--productive-1);
}
.bp--nxt.xl,
.bp--prv.xl {
  font-size: var(--fs-btn-large);
}
.bp--nxt.xs,
.bp--prv.xs {
  font-size: var(--fs-btn-small);
}
.bp--nxt::before {
  height: 2px;
  background-color: var(--color-bg-text);
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.bp--prv::after {
  height: 2px;
  background-color: var(--color-bg-text);
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.bp--nxt:hover::before {
  animation-name: bp__line;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.bp--prv:hover::after {
  animation-name: bp__line;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bp__line {
  0% {
    width: 100%;
  }
  50% {
    bottom: -1rem;
    opacity: 0;
  }
  100% {
    width: 100%;
    top: 0px;
    opacity: 1;
  }
}

[data-theme="two"] {
  .bp--nxt::before {
    background-color: var(--color-two-text);
  }
}
.bp--nxt::after {
  transition: 0.5s ease all;
  display: "";
  content: "→";
  font-family: var(--productive-1);
  display: inline-block;
  margin-left: rfs(0.5rem);
}
.bp--prv::before {
  transition: 0.5s ease all;
  display: "";
  content: "←";
  font-family: var(--productive-1);
  display: inline-block;
  margin-left: rfs(0.5rem);
}
.bp--nxt:hover::after {
  margin-left: rfs(1rem);
}
.bp--prv:hover::before {
  margin-right: rfs(1rem);
}
.bp--nxt:hover {
  border-width: 0px;
}
.bp--prv:hover {
  border-width: 0px;
}
.bp--paginate {
  display: inline-block;
}
.bp--paginate.nxt::after {
  transition: 0.5s ease all;
  display: "";
  content: "→";
  font-size: rfs(2.5rem);
  font-family: var(--productive-1);
  display: inline-block;
  margin-left: rfs(0.5rem);
}
.bp--paginate.prv::after {
  font-size: rfs(2.5rem);
  transition: 0.5s ease all;
  display: "";
  content: "←";
  font-family: var(--productive-1);
  display: inline-block;
  margin-left: rfs(0.5rem);
}

// END NEXT BUTTON
@include min-large() {
  .bp--indent {
    padding-left: rfs($text-indent);
  }
}
