.showreel__wrap{
    height:$video-top; 
 }
:root{
    --page-margin:4rem;
}
/*
.visual{
    .img{
        opacity:0;
    }
    .img.lazyloaded{
        opacity:1;
    }
}
*/
.skrp{
    // transition: 1s ease all;
    // transition-property: opacity, transform;
    opacity:0;
    transform: translateY(5vw);
}
.skrp.slide.scrolled{
    transform: translateY(0px);
    opacity:1;
}

@include min-small(){
    :root{
        --page-margin:12rem;
    }
}

@include min-medium(){
    :root{
        --page-margin:10rem;
    }
}

@include min-ultra(){
    :root{
        --page-margin:14rem;
    }
}
