.showreel__wrap {
  height: $video-top;
}
:root {
  --page-margin: rfs(4rem);
}
.diensten--visual {
  .img-wrap {
    background-color: white !important;
  }
}
.skrp.element,
.skrp.project--description,
.skrp.meta--description {
  transition: 1s ease all;
  opacity: 0;
  transform: translateY(2rem);
  transition-property: transform opacity;
}

.skrp.card {
  transition: 1s ease all;
  .visual {
    opacity: 0.5;
  }
  .box,
  .img {
    opacity: 0;
  }
  transform: translateY(2rem);
  transition-property: transform opacity;
}

.skrp.view-in {
  opacity: 1;
  transform: translateY(0px);
  .box,
  .visual,
  .img {
    opacity: 1;
  }
}

@include min-small() {
  :root {
    --page-margin: 12rem;
  }
}

@include min-medium() {
  :root {
    --page-margin: 10rem;
  }
}

@include min-ultra() {
  :root {
    --page-margin: 14rem;
  }
}
