.showreel__wrap{
    height:$video-top; 
 }
:root{
    --page-margin:4rem;
}
/*
.visual{
    .img{
        opacity:0;
    }
    .img.lazyloaded{
        opacity:1;
    }
}
*/
.grow[data-scroll] {
    will-change: transform; 
    opacity: 1;
    opacity: calc(var(--visible-y) * var(--visible-y));
    transform: scale(calc(0.5 + calc(var(--visible-y) * 0.5)));
 } 

@include min-small(){
    :root{
        --page-margin:12rem;
    }
}

@include min-medium(){
    :root{
        --page-margin:10rem;
    }
}

@include min-ultra(){
    :root{
        --page-margin:14rem;
    }
}
