.showreel{
  height:calc(#{$video-top} - 150px);
}
.bg__video{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    overflow: hidden;
    height:calc(#{$video-top} - 150px);
    display:flex;
    align-items: center;
    justify-content: center;
    background:white;
    video{
        width:auto;
        margin:0 auto;
        height:100%;
      }
  }
