.showreel {
  height: calc(#{$video-top} - 150px);
}
.bg__video {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  overflow: hidden;
  height: calc(#{$video-top} - 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  video {
    height: auto;
    margin: 0 auto;
    width: 100%;
  }
}
@include min-medium() {
  .bg__video {
    left: auto;
    height: calc(#{$video-top} - 150px);
    video {
      width: calc(100% - var(--page-margin));
    }
  }
}
@include min-ultra() {
  .bg__video {
    video {
      width: calc(#{$ultra-width} - var(--page-margin));
    }
  }
}
