.fs__b{
    text-transform: uppercase;
}

@include max-small(){
    .row{
        .chapter{
            margin-left:0px;
        }
    }
    .box{
        padding-left:0px;
        padding-top:0px;
    }
}